In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random

In [2]:
# Initialize faker instance
fake = Faker()

def dummyData(numRec):
    transDate = []
    custName = []
    cardNum = []
    zipCode = []
    transAmount = []
    transType = []  # For transaction types
    transChannel = []  # For transaction channels

    transaction_types = ['Debit Card', 'Online Transfer', 'ATM Withdrawal']
    channels = ['Branch', 'Mobile App', 'ATM', 'Website']

    for _ in range(numRec):
        transDate.append(fake.date_time_between(start_date='-5y', end_date='now'))
        custName.append(fake.name())
        cardNum.append(fake.credit_card_number(card_type=None))  # Generating a random credit card number
        zipCode.append(fake.zipcode())
        transAmount.append(np.random.randint(100, 10000))  # Random transaction amount between 100 and 10,000
        transType.append(random.choice(transaction_types))  # Random transaction type
        transChannel.append(random.choice(channels))  # Random transaction channel

    # Creating a DataFrame
    dfDummyTrans = pd.DataFrame(list(zip(transDate, custName, cardNum, zipCode, transAmount, transType, transChannel)),
                                columns=['Transaction Date', 'Customer Name', 'Card Number', 'Zip Code', 
                                         'Transaction Amount', 'Transaction Type', 'Transaction Channel'])

    return dfDummyTrans

# Generating 50000 fake transactional records
dfDummyTrans = dummyData(50000)

# Displaying the data
dfDummyTrans.head()

     Transaction Date    Customer Name       Card Number Zip Code  Transaction Amount Transaction Type Transaction Channel
0 2021-01-12 16:45:49  Shane Fernandez  4846272146162321    82064                6017  Online Transfer          Mobile App
1 2020-08-12 18:24:39      Hector Wolf      572028469490    78792                 535       Debit Card              Branch
2 2024-08-14 10:56:57   Michael Hanson   180082362390916    70123                1050  Online Transfer              Branch
3 2024-03-19 22:08:28    Holly Jackson  3531205366273610    35601                5028  Online Transfer                 ATM
4 2020-07-11 11:17:33    Jermaine Bell  4767086040959276    38833                6137  Online Transfer                 ATM